*{
	margin: 0px ;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	outline: none;
	font-style: "微软雅黑";

}
body{margin: 0px;
padding: 0px;
}
#mainbody{
	width: 1680px;
	min-width:1680px;
	height: 980px;
	background:url("../image/bg42.png")  no-repeat top;
	background-size: cover;
}
#top{
	width: 100%;
	height: 12rem;
	
	opacity:0.8;
	position: relative;
	margin: 0 auto;
}
#img{	
	float:left;

}
#img>img{
	padding-top:2rem; 
	width: 30rem;
	height: 150px;
	position: absolute;
	top: 0px;
	padding-left: 2.8rem;
}
h1{
	font-size: 5.4rem;
	color: #fff;
	float:right;
	font-weight: normal;
	padding-top: 5rem;
	padding-right: 2.8rem;


}




#form{
	width: 86rem;
	padding-top: 14rem;
	height: 42rem;
	margin: 0 auto;
	position: relative;
	

}
.group{
	width: 2.5rem;
	height: 15rem;
	
	
	float: left;
	margin-left: 1.7rem;
	text-align: center;
	line-height: 2rem;
	margin-top:3rem;
	position: relative;

}
.radish{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	
	background-color: #fff;
	float: left;
	
	text-align: center;
	line-height: 2.5rem;
	margin-top:-0.2rem;
}
.data{
	width: 1.0rem;
	height: 11rem;
	
	
    background-color: rgba(0,0,0,0.2);
	margin: 0 auto;
	position: relative;
	text-align: center;
	line-height: 2rem;
}
.showdata{
	width: 1.0rem;
	/*background-color: blue;*/
	margin: 0 auto;
	position: absolute;
	bottom: 0px;
	text-align: center;
	transition: height .3s ease;
	-webkit-transition: height .3s ease;
	-moz-transition: height .3s ease;
	-ms-transition: height .3s ease;
}
#suport{
	color:#fff;
	font-size: 2rem;
	margin-top: 2rem;	
	margin-right: 4rem;
	float: right;

}

.red {
	background-color: #27aae1;
}

.blue {
	background-color: #f7941e;
}

.circle {
	line-height: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	margin-top:-0.1rem;
	z-index: 999;
}
#xingkong{
	height: 6rem;
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	line-height: 6rem;

	



}
h2{
	font-weight: normal;
}
#title2{
	position: absolute;
	top: 180px;
	left: 80px;
	color: #fff;
	font-size: 2.5rem;
}